.App {
  background: url(https://static.vecteezy.com/system/resources/previews/001/984/892/original/banner-design-geometric-hexagon-colorful-overlapping-with-background-free-vector.jpg) no-repeat;
 height: 100vh;
 background-size: cover;
}
.active-filter {
  background-color: #9c27b0;
  border-color: #9c27b0;
  border-style: outset;
  color: #fff;
}
.is-done {
  opacity: 0.5;
}
.spanText {
  display: inline-block;
  width: 130px;
  word-break: break-word;
}

.filterButton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.filterButton button {
  width: 65px;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}

.superButton {
  background-color: #fff;
  border: 1px solid #9c27b0;
}
.addButton {
  margin-top: 15px!important
}
.changedInput {
  max-width: 130px;
}
.paper {
  padding: 20px;
  margin-top: 20px;
}