.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: 1px solid red;
}
.errorMessage {
  color: red;
}
.active-filter {
  background-color: aquamarine;
  border-color: aqua;
  border-style: outset;
}
.is-done {
  opacity: 0.5;
}
.todo {
  margin-left: 25px;
}
.list {
  display: grid;
  grid-template-columns: 20px 150px 20px;
  grid-template-rows: auto;
  grid-template-areas: 'i s b';
  margin-top: 5px;
  
}
.checkbox {
  grid-area: i;
}
.list span {
  grid-area: s;
  word-break: break-word;
}
.list button {
  grid-area: b;
  width: 24px;
  height: 22px;
}
.filterButton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.filterButton button {
  width: 65px;
  font-size: 12px;
  padding: 5px;
}
.listblock {
  margin: 15px auto;
}
.title {
  display: flex;
  justify-content: space-between;
}