.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: 1px solid red;
}
.errorMessage {
  color: red;
}
.active-filter {
  background-color: #9c27b0;
  border-color: #9c27b0;
  border-style: outset;
  color: #fff;
}
.is-done {
  opacity: 0.5;
}
.todo {
  margin-left: 25px;
}
.list {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.spanText {
  max-width: 150px;
  word-break: break-word;
}
.close {
  grid-area: b;
  width: 24px;
  height: 22px;
}
.filterButton {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}
.filterButton button {
  width: 65px;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
}
.listblock {
  margin: 15px auto;
}
.title {
  display: flex;
  justify-content: space-between;
}
.superButton {
  background-color: #fff;
  border: 1px solid #9c27b0;
}